@using MudBlazor
<MudNavMenu Class="drawer-links">
    <div class="nav-accent-bar">CClaw</div>

    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/clients" Match="NavLinkMatch.Prefix">Clients</MudNavLink>
    <MudNavLink Href="/folders" Match="NavLinkMatch.Prefix">TestFolders</MudNavLink>
</MudNavMenu>
